body {
  --accent: #008080;
  width: 100vw;
  height: 100vh;
  background: var(--accent);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.window {
  width: 100vw;
  height: 100vh;
  background: whitesmoke;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 480px;
  background: whitesmoke;
  border-radius: 24px;
  margin-top: 8px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  height: 44px;
}

.tabs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  flex-grow: 1;
  user-select: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

ul {
  display: flex;
  width: 100%;
}

li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 1px;
  background: var(--accent);
}

li.selected {
  background: rgba(0, 128, 128, 0.541);
  border-radius: 24px;
  color: #fff;
  
}

